/BindGenerater/bin
/BindGenerater/obj
/BindGenerater/EngineLib
/BindGenerater/Test
/BindGenerater/back
/Glue
/ScriptEngine/Win32
/ScriptEngine/x64
/ScriptEngine/Adapter/bin
/ScriptEngine/Adapter/obj
/packages
/Test
/back
.vs
/DemoProject/Bin
/DemoProject/*.csproj
/ScriptEngine/obj
/ScriptEngine/aot/*.a
/ScriptEngine/Managed/*.dll
/ScriptEngine/Managed/*.pdb
/ScriptEngine/Managed/*.mdb
/ScriptEngine/Managed/*.exe
/ScriptEngine/Managed/*.aotdata
/ScriptEngine/generated/*.c
/ScriptEngine/generated/*.h
*.user

ScriptEngine/temp
