/BindGenerater/bin
/BindGenerater/obj
/BindGenerater/EngineLib
/BindGenerater/Test
/BindGenerater/glue
/Glue
/ScriptEngine/Win32
/ScriptEngine/x64
/packages
/Test
/back
.vs
DemoProject/Bin
ScriptEngine/aot/*.a
ScriptEngine/Managed/*.dll
ScriptEngine/Managed/*.exe
ScriptEngine/Managed/*.aotdata
ScriptEngine/generated/*.c
ScriptEngine/generated/*.h
/BindGenerater/BindGenerater.csproj.user
